<DOCTYPE html>
  <html>
  <head>
  </head>
  <body>
    <form action='/checkout' method="POST">
    <label for="item">Item to purchase:</label>
    <input type="text" id="item" name="item">
    <input type="submit" id="submit">
  </body>
  </html>
